<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://vollmedfunctionapp20260702091538-ahazgwh8fgfsd4gk.australiaeast-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/985f8c16-0216-4f6b-be74-5460f5814a0c/resourcegroups/vollmed-rg/providers/Microsoft.Web/sites/VollMedFunctionApp20260702091538</ResourceId>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishUrl>https://vollmedfunctionapp20260702091538-ahazgwh8fgfsd4gk.scm.australiaeast-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>